.label {
    border: .1rem solid black;
}

.cardFooter {
    margin-inline: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.saveButton, .historyButton, .closeButton, .verifyButton {
    padding: .6rem .9rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: transparent;
    transition: all .25s ease;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: auto;
    border: 1px solid black;
}

.verifyButton {
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-color: #d55555;
    background-color: #d55555;
    border-bottom-width: 0;
    color: whitesmoke;
    margin-bottom: 0;
    margin-top: auto;
}

.verifyButton:hover {
    background-color: #d93535;
    border-color: #d93535;
}

.verifyButtonApproved {
    border-color: rgb(60, 198, 129);
    background-color: rgb(60, 198, 129);
    color: rgb(229, 232, 235);
}

.verifyButtonApproved:hover {
    background-color: rgb(29, 220, 125);
    border-color: rgb(29, 220, 125);
}

.saveButton {
    border-color: rgb(60, 198, 129);
    border-top-width: 0;
    color: rgb(60, 198, 129);
}

.saveButton:hover {
    background-color: rgb(60, 198, 129);
    color: rgb(229, 232, 235);
}

.historyButton {
    border-color: rgb(90, 110, 157);
    border-top-width: 0;
    color: rgb(90, 110, 157);
}

.historyButton:hover {
    background-color: rgb(90, 110, 157);
    color: rgb(229, 232, 235);
}

.closeButton {
    border-radius: .5rem;
    border: 1px solid #d55555;
    color: #d24242;
}

.closeButton:hover {
    background-color: #d55555;
    color: whitesmoke;
}

.hide {
    transform: translate(0, -3rem)
}

.modalHeader {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
}

.modalTitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: rgb(90, 110, 157);
}

.scrollComponent {
    position: relative;
    padding: 0;
}
 
.scrollContent { 
    padding: 2rem;
    padding-top: 1rem;
}

.version {
    padding-inline: 1rem;
    padding-block: .5rem;
    margin-top: .5rem;
    border: 1px solid rgb(90, 110, 157);
    border-radius: .5rem;
}

.versionContainer {
    margin-bottom: 1.6rem;
}

.versionContainer:last-of-type {
    margin-bottom: 0;
}

.version table {
    border-bottom: 0;
    width: fit-content;
}

.version tr {
    border-bottom: 0;
}

.version td, .version th {
    height: 2.2rem;
}