.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.button {
    color: rgb(90, 110, 157);
    border: 1px solid rgb(90, 110, 157);
    width: 2.6rem;
    height: 2.3rem;
    border-radius: .5rem;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease;
}

.button:hover {
    background-color: rgb(90, 110, 157);
    color: rgb(229, 232, 235);
}

.currentPage {
    min-width: 20rem;
    text-align: center;
    font-weight: 200;
}

.number {
    font-weight: 700;
    color: rgb(90, 110, 157);
}